@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background-color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
  }


:root{
    --logo-color: #e04f4f
}