.product-list{
    .product-item{
        border: 1px solid var(--logo-color);
    }
    h3{
        text-align: center;
        font-size: 14px;
    }
}
.nav{

    border-bottom: 1px solid var(--logo-color);

.scandiweb-logo{
    color: var(--logo-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
}